USE [MasterFloor]
GO
/****** Object:  Table [dbo].[Material_type]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_type](
	[IDTypeMaterial] [int] NOT NULL,
	[TypeMaterial] [nvarchar](50) NULL,
	[DefectRate] [float] NULL,
 CONSTRAINT [PK_Material_type] PRIMARY KEY CLUSTERED 
(
	[IDTypeMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_products]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_products](
	[IDPartnerProduct] [int] NOT NULL,
	[IDProduct] [int] NULL,
	[IDPartner] [int] NULL,
	[Count] [int] NULL,
	[DateSell] [date] NULL,
 CONSTRAINT [PK_Partner_products] PRIMARY KEY CLUSTERED 
(
	[IDPartnerProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_type]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_type](
	[PartnerTypeId] [int] NOT NULL,
	[TypeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_PartnerTypes] PRIMARY KEY CLUSTERED 
(
	[PartnerTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[IDPartner] [int] IDENTITY(1,1) NOT NULL,
	[PartnerTypeId] [int] NULL,
	[NameOrganization] [nvarchar](150) NULL,
	[Director] [nvarchar](150) NULL,
	[Email] [nvarchar](150) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [nvarchar](550) NULL,
	[INN] [nvarchar](50) NULL,
	[Rating] [int] NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[IDPartner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_type]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_type](
	[IDTypeProducts] [int] NOT NULL,
	[TypeProduct] [nvarchar](50) NULL,
	[CoefficientTypeProducts] [float] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[IDTypeProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 02.05.2025 1:07:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IDProduct] [int] NOT NULL,
	[IDTypeProducts] [int] NULL,
	[IDTypeMaterial] [int] NULL,
	[NameProduct] [nvarchar](250) NULL,
	[Articul] [int] NULL,
	[MinimalPriceForPartner] [float] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IDProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Material_type] ([IDTypeMaterial], [TypeMaterial], [DefectRate]) VALUES (1, N'Тип материала 1', 0.001)
INSERT [dbo].[Material_type] ([IDTypeMaterial], [TypeMaterial], [DefectRate]) VALUES (2, N'Тип материала 2', 0.0095)
INSERT [dbo].[Material_type] ([IDTypeMaterial], [TypeMaterial], [DefectRate]) VALUES (3, N'Тип материала 3', 0.0028)
GO
INSERT [dbo].[Partner_products] ([IDPartnerProduct], [IDProduct], [IDPartner], [Count], [DateSell]) VALUES (1, 1, 1, 15500, CAST(N'2023-03-23' AS Date))
INSERT [dbo].[Partner_products] ([IDPartnerProduct], [IDProduct], [IDPartner], [Count], [DateSell]) VALUES (2, 3, 1, 12350, CAST(N'2023-12-18' AS Date))
INSERT [dbo].[Partner_products] ([IDPartnerProduct], [IDProduct], [IDPartner], [Count], [DateSell]) VALUES (3, 4, 1, 37400, CAST(N'2024-06-07' AS Date))
GO
INSERT [dbo].[Partner_type] ([PartnerTypeId], [TypeName]) VALUES (1, N'ЗАО')
INSERT [dbo].[Partner_type] ([PartnerTypeId], [TypeName]) VALUES (2, N'ООО')
INSERT [dbo].[Partner_type] ([PartnerTypeId], [TypeName]) VALUES (3, N'ПАО')
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([IDPartner], [PartnerTypeId], [NameOrganization], [Director], [Email], [PhoneNumber], [Address], [INN], [Rating]) VALUES (1, 2, N'База ', N'Иванова Александра Ивановна', N'aleksandraivanova@ml.ru', N'493 123 45 67', N'652050, Кемеровская область, город Юрга, ул. Лесная, ', N'2222455179', 7)
INSERT [dbo].[Partners] ([IDPartner], [PartnerTypeId], [NameOrganization], [Director], [Email], [PhoneNumber], [Address], [INN], [Rating]) VALUES (2, 2, N'Паркет 29', N'Петров Василий Петрович', N'vppetrov@vl.ru', N'987 123 56 78', N'164500, Архангельская область, город Северодвинск, ул. Строителей, 18', N'3333888520', 7)
INSERT [dbo].[Partners] ([IDPartner], [PartnerTypeId], [NameOrganization], [Director], [Email], [PhoneNumber], [Address], [INN], [Rating]) VALUES (3, 3, N'Стройсервис', N'Соловьев Андрей Николаевич', N'ansolovev@st.ru', N'812 223 32 00', N'188910, Ленинградская область, город Приморск, ул. Парковая, 21', N'4440391035', 7)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
INSERT [dbo].[Product_type] ([IDTypeProducts], [TypeProduct], [CoefficientTypeProducts]) VALUES (1, N'Ламинат', 2.35)
INSERT [dbo].[Product_type] ([IDTypeProducts], [TypeProduct], [CoefficientTypeProducts]) VALUES (2, N'Массивная доска', 5.15)
INSERT [dbo].[Product_type] ([IDTypeProducts], [TypeProduct], [CoefficientTypeProducts]) VALUES (3, N'Паркетная доска', 4.34)
GO
INSERT [dbo].[Products] ([IDProduct], [IDTypeProducts], [IDTypeMaterial], [NameProduct], [Articul], [MinimalPriceForPartner]) VALUES (1, 3, 1, N'Паркетная доска Ясень темный однополосная 14 мм', 8758385, 4456.9)
INSERT [dbo].[Products] ([IDProduct], [IDTypeProducts], [IDTypeMaterial], [NameProduct], [Articul], [MinimalPriceForPartner]) VALUES (2, 3, 2, N'Инженерная доска Дуб Французская елка однополосная 12 мм', 8858958, 7330.99)
INSERT [dbo].[Products] ([IDProduct], [IDTypeProducts], [IDTypeMaterial], [NameProduct], [Articul], [MinimalPriceForPartner]) VALUES (3, 1, 3, N'Ламинат Дуб дымчато-белый 33 класс 12 мм', 7750282, 1799.33)
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Partners] FOREIGN KEY([IDPartner])
REFERENCES [dbo].[Partners] ([IDPartner])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Partners]
GO
ALTER TABLE [dbo].[Partner_products]  WITH CHECK ADD  CONSTRAINT [FK_Partner_products_Products] FOREIGN KEY([IDProduct])
REFERENCES [dbo].[Products] ([IDProduct])
GO
ALTER TABLE [dbo].[Partner_products] CHECK CONSTRAINT [FK_Partner_products_Products]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_Partner_type] FOREIGN KEY([PartnerTypeId])
REFERENCES [dbo].[Partner_type] ([PartnerTypeId])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_Partner_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Material_type] FOREIGN KEY([IDTypeMaterial])
REFERENCES [dbo].[Material_type] ([IDTypeMaterial])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Material_type]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Product_type] FOREIGN KEY([IDTypeProducts])
REFERENCES [dbo].[Product_type] ([IDTypeProducts])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Product_type]
GO
